Table,tr,td{
    border-radius: 10px;
    border-style: dotted;
    border-color: black;
    border-collapse: collapse;
    background-color: rgb(255, 166, 57);
    font-size: large;
    text-align: center;
    padding: 10px;
}
Table{
    margin: 100px;
}

Button{
    font-size: larger;
    color: rgb(243, 235, 9);
    width: 200px;
    height: 50px;
}
Button:hover{
    background-color: brown;
}